In [1]:
import os
from dotenv import load_dotenv
from langchain_groq import ChatGroq
from langchain_classic.utilities import SQLDatabase
from langchain_core.prompts import ChatPromptTemplate
from langchain_classic.chains import create_sql_query_chain
from langchain_core.output_parsers import StrOutputParser
from langchain_core.runnables import RunnablePassthrough

load_dotenv()

/Users/gasunil/My Folder /Learn/Langchain/Chatbot/simple_chatbot/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

True

In [2]:
Groq_api_key=os.getenv('GROQ_API_KEY')
db_password=os.getenv('DB_PASSWORD')

In [3]:
#Connecting with MySQL DataBase
host='localhost'
port=3306
username='root'
password=db_password
database_schema='MySQL_DATABASE'
mysql_uri=f"mysql+pymysql://{username}:{password}@{host}:{port}/{database_schema}"
database=SQLDatabase.from_uri(mysql_uri,sample_rows_in_table_info=2)

In [4]:
context=database.get_table_info()

In [5]:
context

'\nCREATE TABLE `STUDENT` (\n\troll_no INTEGER NOT NULL, \n\tname VARCHAR(50) NOT NULL, \n\tclass VARCHAR(10) NOT NULL, \n\t`GRADE` VARCHAR(10) NOT NULL, \n\tPRIMARY KEY (roll_no)\n)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4\n\n/*\n2 rows from STUDENT table:\nroll_no\tname\tclass\tGRADE\n\n*/\n\n\nCREATE TABLE customers (\n\t`Customer Index` INTEGER, \n\t`Customer Names` TEXT\n)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4\n\n/*\n2 rows from customers table:\nCustomer Index\tCustomer Names\n1\tGeiss Company\n2\tJaxbean Group\n*/\n\n\nCREATE TABLE products (\n\t`Index` INTEGER, \n\t`Product Name` TEXT\n)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4\n\n/*\n2 rows from products table:\nIndex\tProduct Name\n1\tProduct 1\n2\tProduct 2\n*/\n\n\nCREATE TABLE regions (\n\tid INTEGER, \n\tname TEXT, \n\tcounty TEXT, \n\tstate_code TEXT, \n\tstate TEXT, \n\ttype TEXT, \n\tlatitude DOUBLE, \n\tlongitude DOUBLE, \n\tarea_code INTEGER, \n\tpopulation INTEGER, \n\thouseholds INTEGER, \n\tmedian_income INTEGER, \n\tland_area INTEGER, \n\twater_area INTEGER, \n\ttime_zone TEXT\n)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4\n\n/*\n2 rows from regions table:\nid\tname\tcounty\tstate_code\tstate\ttype\tlatitude\tlongitude\tarea_code\tpopulation\thouseholds\tmedian_income\tland_area\twater_area\ttime_zone\n1\tAuburn\tLee County\tAL\tAlabama\tCity\t32.6098600000\t-85.4807800000\t334\t62059\t21767\t38342\t152375113\t2646161\tAmerica/Chicago\n2\tBirmingham\tShelby County/Jefferson County\tAL\tAlabama\tCity\t33.5274400000\t-86.7990500000\t205\t212461\t89972\t31061\t378353942\t6591013\tAmerica/Chicago\n*/\n\n\nCREATE TABLE sales_order (\n\t`OrderNumber` TEXT, \n\t`OrderDate` TEXT, \n\t`Customer Name Index` INTEGER, \n\t`Channel` TEXT, \n\t`Currency Code` TEXT, \n\t`Warehouse Code` TEXT, \n\t`Delivery Region Index` INTEGER, \n\t`Product Description Index` INTEGER, \n\t`Order Quantity` INTEGER, \n\t`Unit Price` DOUBLE, \n\t`Line Total` DOUBLE, \n\t`Total Unit Cost` DOUBLE\n)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4\n\n/*\n2 rows from sales_order table:\nOrderNumber\tOrderDate\tCustomer Name Index\tChannel\tCurrency Code\tWarehouse Code\tDelivery Region Index\tProduct Description Index\tOrder Quantity\tUnit Price\tLine Total\tTotal Unit Cost\nSO - 000225\t2021-01-01\t126\tWholesale\tUSD\tAXW291\t364\t27\t6\t2499.1000000000\t14994.6000000000\t1824.3430000000\nSO - 0003378\t2021-01-01\t96\tDistributor\tUSD\tAXW291\t488\t20\t11\t2351.7000000000\t25868.7000000000\t1269.9180000000\n*/\n\n\nCREATE TABLE state_regions (\n\t`State Code` TEXT, \n\t`State` TEXT, \n\t`Region` TEXT\n)ENGINE=InnoDB COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4\n\n/*\n2 rows from state_regions table:\nState Code\tState\tRegion\nAL\tAlabama\tSouth\nAR\tArkansas\tSouth\n*/'

In [6]:
prompt_template="""
Based on the table schema below, write a valid MySQL SQL query that answers the user's question.
Rules:
- Only output the SQL query.
- Do NOT include explanations or comments.
- Output the SQL query in a single line with no line breaks.
- Use only the tables and columns shown in the schema.
Table Schema:
{schema}
Question: {question}
SQL Query
"""

prompt=ChatPromptTemplate.from_template(prompt_template)

In [7]:
def Get_DataBase_Schema(db):
    return db.get_table_info()

In [8]:
llm_model=ChatGroq(groq_api_key=Groq_api_key,model="openai/gpt-oss-120b")

In [9]:
MySQL_chain=(
    RunnablePassthrough.assign(schema=lambda x:Get_DataBase_Schema(database))|prompt|
    llm_model.bind(stop=["\nSQLResult:"])|StrOutputParser()
)

In [10]:
response=MySQL_chain.invoke({'question':'How many products are there.'})
response

'SELECT COUNT(*) FROM products;'

In [11]:
database.run(response)

'[(30,)]'

In [12]:
response=MySQL_chain.invoke({'question':'What is the total revenue'})
response

'SELECT SUM(`Line Total`) AS total_revenue FROM sales_order;'

In [13]:
database.run(response)

'[(1235968899.0000184,)]'

In [14]:
response=MySQL_chain.invoke({'question':'Give the product with most revenue, return the product name and its total revenue'})
response

'SELECT p.`Product Name` AS product_name, SUM(s.`Line Total`) AS total_revenue FROM products p JOIN sales_order s ON p.`Index` = s.`Product Description Index` GROUP BY p.`Product Name` ORDER BY total_revenue DESC LIMIT 1'

In [15]:
database.run(response)

"[('Product 26', 117291821.40000035)]"